body {
    background: linear-gradient(-45deg, rgb(82, 150, 238), #1e1bb8, #3574d2, rgb(67, 176, 223));
    background-size: 400% 400%;
    animation: gradient 30s ease infinite;
    height: 95vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
 
    50% {
        background-position: 100% 50%;
    }
 
    100% {
        background-position: 0% 50%;
    }
}